## include Source parameters, measurement points, electrodes array
survey.input                # survey mode file

## Model parameters
sigma.file

## FEM parameters
3				            # the number for mesh UniformRefine function
1	                        # max AMR iterations
0.2                    	    # marking parameter [0,1] 
50000000                          # max dofs
amg                         # select a solver from [amg]


## Mesh parameters
2                           # 1-save local mesh; others-don't save mesh
twolay5023.msh                  # mesh file

## MFEM refered parameters
FindPoints		            # find sources and potentias by [FindPoints] 

## parameters for iterative solver
500                         # pcg_maxit
1e-7			            # pcg_primal_tol
1e-4			            # pcg_dual_tol
1		                    # pcg_print_level  3  0 1
0                           # amg_print_level

## whether to solve dual problem
true

## way of error estimation [jn]
jn

## whether to compute E,J
false


